<button
  type="button"
  class="country-card"
  [attr.aria-label]="'View details for ' + country().name.common"
  (click)="onCardClick()"
>
  <div class="card-flag">
    <img [src]="country().flags.png" [alt]="'Flag of ' + country().name.common">
  </div>
  <div class="card-body">
    <h3 class="card-title">{{ country().name.common }}</h3>
    <dl class="card-info">
      @for (property of infoMap(); track property.label) {
        <div class="info-row">
          <dt class="label">{{property.label}}</dt>
          <dd class="value">{{ property.value }}</dd>
        </div>
      }
    </dl>
  </div>
</button>
