<form [formGroup]="selectedCountriesForm" class="selected-countries-form">
  <app-p-multiselect
    [options]="countryOptions()"
    [virtualScrollItemSize]="45"
    [placeholder]="'Filter by country...'"
    (valueChange)="onCountrySelectionChange($event)"
  />
</form>

<div class="compare-countries-grid">
  @for (country of selectedCountries(); track country.cca3) {
  <app-country-card
    [country]="country"
    [displayedInfo]="selectedProperties()"
  ></app-country-card>
  } @empty {
  <p>Select countries to compare</p>
  }
</div>
