<form [formRoot]="selectionForm" class="selected-countries-form">
  <label for="country-select">Select countries to compare</label>
  <app-p-multiselect
    id="country-select"
    [options]="countries()"
    optionLabel="name.common"
    [showClear]="true"
    placeholder="Select country..."
    [formField]="selectionForm"
    [selectionLimit]="MAXIMUM_COMPARABLE_COUNTRIES"
  />
</form>

<section class="compare-countries-grid" aria-label="Countries comparison">
  @for (country of selectedCountries(); track country.cca3) {
  <app-country-card
    [country]="country"
    [displayedInfo]="selectedProperties()"
  ></app-country-card>
  } @empty {
  <p role="status">Select countries above to start comparing</p>
  }
</section>
